<html>
<head>
<title>Administrator</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="javascripts/app.js"></script>
</head>
<body  ng-app="ordering" ng-controller="MainCtrl">
<div style="margin-left: 5em;">
<div class="page-header">
<h1> Store Management Interface </h1>
</div>

<form ng-submit="addProduct()">
  <div id="forms">
  Product Name: <input id="indForm" type="text" ng-model="nameContent"></input> <br>
  Price: <input id="indForm" type="text" ng-model="priceContent"></input> <br>
  Picture URL: <input id="indForm" type="text" ng-model="pictureContent"></input> <br>
    <button id="addButton" class="btn btn-primary" type="submit">Add Product</button>
  </div>
</form>

<div class="page-header">
<h1>Current Products</h1>
</div>
<div ng-repeat="product in products | orderBy:['-orders','Name']">
<span class="glyphicon glyphicon-remove" ng-click="delete(product)"></span>
  {{product.Name}} - price {{product.price}} - ordered {{product.orders}} <img src="{{product.picture}}">
</div>
</body>
</html>
